.col-md-1
	%h1 Competenties

	%h3 Aan welke competentie(s) ga je werken?
	%ol
		%li Research & Innovation
		%li Concepting
		%li Design
		%li Production
		%li QMI
		%li Multidisciplinary Teamwork
		%li Communication
		%li Sharing
		%li Project Management
		%li Growth & Reflection

	= link_to "Terug", root_path, class: 'btn btn-primary' 
	= link_to "Een nieuwe competentie aanmaken", new_competency_path, class: 'btn btn-success'